
env
.vscode

user_data/migrations
stock_data/migrations
services_data/migrations
inventory_data/migrations
customer_data/migrations
billing_data/migrations
dag_section_data/migrations
dag_section_data/__pycache__


venv
